.order__image {
    margin-left: -15px;
    width: 56px;
    height: 56px;
    border: 1px solid #4C4CFF;
    border-radius: 50%;
    object-fit: cover;
    background-color: #1C1C21;
}

.order__image:nth-child(1) {
    z-index: 7;
}

.order__image:nth-child(2) {
    z-index: 6;
}

.order__image:nth-child(3) {
    z-index: 5;
}

.order__image:nth-child(4) {
    z-index: 4;
}

.order__image:nth-child(5) {
    z-index: 3;
}

.order__image:nth-child(6) {
    z-index: 1;
}

.text {
    margin-left: -45px;
    margin-top: 10px;
    color: #fff;
    z-index: 8;
}